## Dependencies

In [68]:
#Imports 
import pandas as pd
from sqlalchemy import create_engine

## Reading CVS File and Converting to Data Frame

In [69]:
# Established File Path
path = "data/world-happiness-report-2021.csv"

# Read World Happiness Data Using File Path
df = pd.read_csv(path)

df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [70]:
#Inspected Data Frame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                149 non-null    object
 1   Regional indicator                          149 non-null    object
 2   Ladder score                                149 non-null    float64
 3   Standard error of ladder score              149 non-null    float64
 4   upperwhisker                                149 non-null    float64
 5   lowerwhisker                                149 non-null    float64
 6   Logged GDP per capita                       149 non-null    float64
 7   Social support                              149 non-null    float64
 8   Healthy life expectancy                     149 non-null    float64
 9   Freedom to make life choices                149 non-null    float64
 10  Generosity                                  149 non-null    float64
 11  Perceptions of corruption                   149 non-null    float64
 12  Ladder score in Dystopia                    149 non-null    float64
 13  Explained by: Log GDP per capita            149 non-null    float64
 14  Explained by: Social support                149 non-null    float64
 15  Explained by: Healthy life expectancy       149 non-null    float64
 16  Explained by: Freedom to make life choices  149 non-null    float64
 17  Explained by: Generosity                    149 non-null    float64
 18  Explained by: Perceptions of corruption     149 non-null    float64
 19  Dystopia + residual                         149 non-null    float64
dtypes: float64(18), object(2)
memory usage: 23.4+ KB

In [71]:
#Inspected Columns
df.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

## Transform Data

In [72]:
# Removed Various Columns 
df1 = df.drop(columns = [
                            "Standard error of ladder score", 
                            "upperwhisker",
                            "lowerwhisker",
                            "Ladder score in Dystopia",
                            "Explained by: Log GDP per capita",
                            "Explained by: Social support",
                            "Explained by: Healthy life expectancy",
                            "Explained by: Freedom to make life choices",
                            "Explained by: Generosity",
                            "Explained by: Perceptions of corruption",
                            "Dystopia + residual"
                            ]
                             )
df1.head()

,Country name,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [73]:
# Renamed Various Columns for Conciseness
df2 = df1.rename(columns={
                        "Country name": "Country", 
                        "Regional indicator": "Region", 
                        "Ladder score": "Score", 
                        "Logged GDP per capita": "GDP per Capita", 
                        "Social support": "Social Support",
                        "Healthy life expectancy": "Healthy Life Expectancy",
                        "Freedom to make life choices": "Freedom of Choice",
                        "Perceptions of corruption": "Perception of Corruption"
                        }
                        )

df2.head()

,Country,Region,Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom of Choice,Generosity,Perception of Corruption
0,Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [74]:
#Counted Rows in Data Frame
rank_data = list(range(len(df2)))

#Added "Rank" to Columns with Ranking for Each Country
df2['Rank'] = rank_data

#Made "Rank" Begin at "1" Instead of "0"
df2.Rank += 1 

df2.head()

,Country,Region,Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom of Choice,Generosity,Perception of Corruption,Rank
0,Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186,1
1,Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179,2
2,Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292,3
3,Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673,4
4,Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338,5

In [75]:
#Reordered Columns
df3 = df2[
            ['Country', 
             'Region', 
             'Rank', 
             'Score', 
             'GDP per Capita', 
             'Social Support', 
             'Healthy Life Expectancy', 
             'Freedom of Choice',
             'Generosity', 
             'Perception of Corruption' 
            ]
            ]

df3.head(10)

,Country,Region,Rank,Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom of Choice,Generosity,Perception of Corruption
0,Finland,Western Europe,1,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,Western Europe,2,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,Switzerland,Western Europe,3,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,Iceland,Western Europe,4,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,Netherlands,Western Europe,5,7.464,10.932,0.942,72.4,0.913,0.175,0.338
5,Norway,Western Europe,6,7.392,11.053,0.954,73.3,0.960,0.093,0.270
6,Sweden,Western Europe,7,7.363,10.867,0.934,72.7,0.945,0.086,0.237
7,Luxembourg,Western Europe,8,7.324,11.647,0.908,72.6,0.907,-0.034,0.386
8,New Zealand,North America and ANZ,9,7.277,10.643,0.948,73.4,0.929,0.134,0.242
9,Austria,Western Europe,10,7.268,10.906,0.934,73.3,0.908,0.042,0.481

In [76]:

df4 = df3.set_index("Country")
df4.head(10)

,Region,Rank,Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom of Choice,Generosity,Perception of Corruption
Country,,,,,,,,,
Finland,Western Europe,1,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,2,7.620,10.933,0.954,72.7,0.946,0.030,0.179
Switzerland,Western Europe,3,7.571,11.117,0.942,74.4,0.919,0.025,0.292
Iceland,Western Europe,4,7.554,10.878,0.983,73.0,0.955,0.160,0.673
Netherlands,Western Europe,5,7.464,10.932,0.942,72.4,0.913,0.175,0.338
Norway,Western Europe,6,7.392,11.053,0.954,73.3,0.960,0.093,0.270
Sweden,Western Europe,7,7.363,10.867,0.934,72.7,0.945,0.086,0.237
Luxembourg,Western Europe,8,7.324,11.647,0.908,72.6,0.907,-0.034,0.386
New Zealand,North America and ANZ,9,7.277,10.643,0.948,73.4,0.929,0.134,0.242
Austria,Western Europe,10,7.268,10.906,0.934,73.3,0.908,0.042,0.481

## Imported Data Frame into pgAdmin4

In [77]:
#Ensured pgAdmin4 was Running
#Created Database in pgAdmin4 named "world_happiness"
rds_connection_string = "postgres:postgres@localhost:5432/world_happiness"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [79]:
#Converted Data Frame to SQL
df4.to_sql(name='world_happiness_data', con=engine, if_exists='replace', index=True)

In [80]:
#Imported Database to pgAdmin4
engine.execute("""
ALTER TABLE world_happiness_data
ADD CONSTRAINT country_pk 
PRIMARY KEY ("Country");
""")