## Dependencies

In [1]:
#Imports 
import pandas as pd
import json
import requests
import pymongo
from pymongo import MongoClient

## Reading CVS File and Converting to Data Frame

In [2]:
# Established File Path
path = "data/world-happiness-report-2021.csv"

# Read World Happiness Data Using File Path
df = pd.read_csv(path)

df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [3]:
#Inspected Data Frame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                149 non-null    object
 1   Regional indicator                          149 non-null    object
 2   Ladder score                                149 non-null    float64
 3   Standard error of ladder score              149 non-null    float64
 4   upperwhisker                                149 non-null    float64
 5   lowerwhisker                                149 non-null    float64
 6   Logged GDP per capita                       149 non-null    float64
 7   Social support                              149 non-null    float64
 8   Healthy life expectancy                     149 non-null    float64
 9   Freedom to make life choices                149 non-null    float64
 10  Generosity                                  149 non-null    float64
 11  Perceptions of corruption                   149 non-null    float64
 12  Ladder score in Dystopia                    149 non-null    float64
 13  Explained by: Log GDP per capita            149 non-null    float64
 14  Explained by: Social support                149 non-null    float64
 15  Explained by: Healthy life expectancy       149 non-null    float64
 16  Explained by: Freedom to make life choices  149 non-null    float64
 17  Explained by: Generosity                    149 non-null    float64
 18  Explained by: Perceptions of corruption     149 non-null    float64
 19  Dystopia + residual                         149 non-null    float64
dtypes: float64(18), object(2)
memory usage: 23.4+ KB

In [4]:
#Inspected Columns
df.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

## Transform Data

In [5]:
# Removed Various Columns 
df1 = df.drop(columns = [
                            "Standard error of ladder score", 
                            "upperwhisker",
                            "lowerwhisker",
                            "Ladder score in Dystopia",
                            "Explained by: Log GDP per capita",
                            "Explained by: Social support",
                            "Explained by: Healthy life expectancy",
                            "Explained by: Freedom to make life choices",
                            "Explained by: Generosity",
                            "Explained by: Perceptions of corruption",
                            "Dystopia + residual"
                            ]
                             )
df1.head()

,Country name,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [6]:
# Renamed Various Columns for Conciseness
df2 = df1.rename(columns={
                        "Country name": "Country", 
                        "Regional indicator": "Region", 
                        "Ladder score": "Score", 
                        "Logged GDP per capita": "GDP per Capita", 
                        "Social support": "Social Support",
                        "Healthy life expectancy": "Healthy Life Expectancy",
                        "Freedom to make life choices": "Freedom of Choice",
                        "Perceptions of corruption": "Perception of Corruption"
                        }
                        )

df2.head()

,Country,Region,Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom of Choice,Generosity,Perception of Corruption
0,Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [7]:
#Counted Rows in Data Frame
rank_data = list(range(len(df2)))

#Added "Rank" to Columns with Ranking for Each Country
df2['Rank'] = rank_data

#Made "Rank" Begin at "1" Instead of "0"
df2.Rank += 1 

df2.head()

,Country,Region,Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom of Choice,Generosity,Perception of Corruption,Rank
0,Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186,1
1,Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179,2
2,Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292,3
3,Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673,4
4,Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338,5

In [8]:
#Reordered Columns
df3 = df2[
            ['Country', 
             'Region', 
             'Rank', 
             'Score', 
             'GDP per Capita', 
             'Social Support', 
             'Healthy Life Expectancy', 
             'Freedom of Choice',
             'Generosity', 
             'Perception of Corruption' 
            ]
            ]

df3.head(10)

,Country,Region,Rank,Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom of Choice,Generosity,Perception of Corruption
0,Finland,Western Europe,1,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,Western Europe,2,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,Switzerland,Western Europe,3,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,Iceland,Western Europe,4,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,Netherlands,Western Europe,5,7.464,10.932,0.942,72.4,0.913,0.175,0.338
5,Norway,Western Europe,6,7.392,11.053,0.954,73.3,0.960,0.093,0.270
6,Sweden,Western Europe,7,7.363,10.867,0.934,72.7,0.945,0.086,0.237
7,Luxembourg,Western Europe,8,7.324,11.647,0.908,72.6,0.907,-0.034,0.386
8,New Zealand,North America and ANZ,9,7.277,10.643,0.948,73.4,0.929,0.134,0.242
9,Austria,Western Europe,10,7.268,10.906,0.934,73.3,0.908,0.042,0.481

In [9]:
# Renamed rows in "Country"
df4 = df3.replace("United States", "United States of America")

df5 = df4.replace("Tanzania", "United Republic of Tanzania") 

df6 = df5.replace("Congo (Brazzaville)", "Republic of Congo")                   

df7 = df6.replace("Congo (Kinshasa)", "Democratic Republic of the Congo")

df8 = df7.replace("Hong Kong S.A.R. of China", "Hong Kong S.A.R.")

df9 = df8.replace("Palestinian Territories", "Palestine")

df10 = df9.replace("Taiwan Province of China", "Taiwan")

df11 = df10.replace("North Macedonia", "Macedonia")

df12 = df11.replace("Serbia", "Republic of Serbia")

df13 = df12.replace("North Cyprus", "Northern Cyprus")

# display
for country in df10["Country"]:
    print(country)

Finland
Denmark
Switzerland
Iceland
Netherlands
Norway
Sweden
Luxembourg
New Zealand
Austria
Australia
Israel
Germany
Canada
Ireland
Costa Rica
United Kingdom
Czech Republic
United States of America
Belgium
France
Bahrain
Malta
Taiwan
United Arab Emirates
Saudi Arabia
Spain
Italy
Slovenia
Guatemala
Uruguay
Singapore
Kosovo
Slovakia
Brazil
Mexico
Jamaica
Lithuania
Cyprus
Estonia
Panama
Uzbekistan
Chile
Poland
Kazakhstan
Romania
Kuwait
Serbia
El Salvador
Mauritius
Latvia
Colombia
Hungary
Thailand
Nicaragua
Japan
Argentina
Portugal
Honduras
Croatia
Philippines
South Korea
Peru
Bosnia and Herzegovina
Moldova
Ecuador
Kyrgyzstan
Greece
Bolivia
Mongolia
Paraguay
Montenegro
Dominican Republic
North Cyprus
Belarus
Russia
Hong Kong S.A.R.
Tajikistan
Vietnam
Libya
Malaysia
Indonesia
Republic of Congo
China
Ivory Coast
Armenia
Nepal
Bulgaria
Maldives
Azerbaijan
Cameroon
Senegal
Albania
North Macedonia
Ghana
Niger
Turkmenistan
Gambia
Benin
Laos
Bangladesh
Guinea
South Africa
Turkey
Pakistan
Morocco
Venezuela
Georgia
Algeria
Ukraine
Iraq
Gabon
Burkina Faso
Cambodia
Mozambique
Nigeria
Mali
Iran
Uganda
Liberia
Kenya
Tunisia
Lebanon
Namibia
Palestine
Myanmar
Jordan
Chad
Sri Lanka
Swaziland
Comoros
Egypt
Ethiopia
Mauritania
Madagascar
Togo
Zambia
Sierra Leone
India
Burundi
Yemen
United Republic of Tanzania
Haiti
Malawi
Lesotho
Botswana
Rwanda
Zimbabwe
Afghanistan

In [10]:
print(df13.to_string())

                         Country                              Region  Rank  Score  GDP per Capita  Social Support  Healthy Life Expectancy  Freedom of Choice  Generosity  Perception of Corruption
0                        Finland                      Western Europe     1  7.842          10.775           0.954                   72.000              0.949      -0.098                     0.186
1                        Denmark                      Western Europe     2  7.620          10.933           0.954                   72.700              0.946       0.030                     0.179
2                    Switzerland                      Western Europe     3  7.571          11.117           0.942                   74.400              0.919       0.025                     0.292
3                        Iceland                      Western Europe     4  7.554          10.878           0.983                   73.000              0.955       0.160                     0.673
4                    Netherlands                      Western Europe     5  7.464          10.932           0.942                   72.400              0.913       0.175                     0.338
5                         Norway                      Western Europe     6  7.392          11.053           0.954                   73.300              0.960       0.093                     0.270
6                         Sweden                      Western Europe     7  7.363          10.867           0.934                   72.700              0.945       0.086                     0.237
7                     Luxembourg                      Western Europe     8  7.324          11.647           0.908                   72.600              0.907      -0.034                     0.386
8                    New Zealand               North America and ANZ     9  7.277          10.643           0.948                   73.400              0.929       0.134                     0.242
9                        Austria                      Western Europe    10  7.268          10.906           0.934                   73.300              0.908       0.042                     0.481
10                     Australia               North America and ANZ    11  7.183          10.796           0.940                   73.900              0.914       0.159                     0.442
11                        Israel        Middle East and North Africa    12  7.157          10.575           0.939                   73.503              0.800       0.031                     0.753
12                       Germany                      Western Europe    13  7.155          10.873           0.903                   72.500              0.875       0.011                     0.460
13                        Canada               North America and ANZ    14  7.103          10.776           0.926                   73.800              0.915       0.089                     0.415
14                       Ireland                      Western Europe    15  7.085          11.342           0.947                   72.400              0.879       0.077                     0.363
15                    Costa Rica         Latin America and Caribbean    16  7.069           9.880           0.891                   71.400              0.934      -0.126                     0.809
16                United Kingdom                      Western Europe    17  7.064          10.707           0.934                   72.500              0.859       0.233                     0.459
17                Czech Republic          Central and Eastern Europe    18  6.965          10.556           0.947                   70.807              0.858      -0.208                     0.868
18      United States of America               North America and ANZ    19  6.951          11.023           0.920                   68.200              0.837       0.098                     0.698
19                       Belgium                      Western Europe    20  6.834          10.823           0.906                   72.199              0.783      -0.153                     0.646
20                        France                      Western Europe    21  6.690          10.704           0.942                   74.000              0.822      -0.147                     0.571
21                       Bahrain        Middle East and North Africa    22  6.647          10.669           0.862                   69.495              0.925       0.089                     0.722
22                         Malta                      Western Europe    23  6.602          10.674           0.931                   72.200              0.927       0.133                     0.653
23                        Taiwan                           East Asia    24  6.584          10.871           0.898                   69.600              0.784      -0.070                     0.721
24          United Arab Emirates        Middle East and North Africa    25  6.561          11.085           0.844                   67.333              0.932       0.074                     0.589
25                  Saudi Arabia        Middle East and North Africa    26  6.494          10.743           0.891                   66.603              0.877      -0.149                     0.684
26                         Spain                      Western Europe    27  6.491          10.571           0.932                   74.700              0.761      -0.081                     0.745
27                         Italy                      Western Europe    28  6.483          10.623           0.880                   73.800              0.693      -0.084                     0.866
28                      Slovenia          Central and Eastern Europe    29  6.461          10.529           0.948                   71.400              0.949      -0.101                     0.806
29                     Guatemala         Latin America and Caribbean    30  6.435           9.053           0.813                   64.958              0.906      -0.038                     0.775
30                       Uruguay         Latin America and Caribbean    31  6.431           9.966           0.925                   69.100              0.896      -0.092                     0.590
31                     Singapore                      Southeast Asia    32  6.377          11.488           0.915                   76.953              0.927      -0.018                     0.082
32                        Kosovo          Central and Eastern Europe    33  6.372           9.318           0.821                   63.813              0.869       0.257                     0.917
33                      Slovakia          Central and Eastern Europe    34  6.331          10.369           0.936                   69.201              0.766      -0.124                     0.911
34                        Brazil         Latin America and Caribbean    35  6.330           9.577           0.882                   66.601              0.804      -0.071                     0.756
35                        Mexico         Latin America and Caribbean    36  6.317           9.859           0.831                   68.597              0.862      -0.147                     0.799
36                       Jamaica         Latin America and Caribbean    37  6.309           9.186           0.877                   67.500              0.890      -0.137                     0.884
37                     Lithuania          Central and Eastern Europe    38  6.255          10.499           0.935                   67.906              0.773      -0.203                     0.826
38                        Cyprus                      Western Europe    39  6.223          10.576           0.802                   73.898              0.763      -0.015                     0.844
39                       Estonia          Central and Eastern Europe    40  6.189          10.481           0.941                   68.800              0.909      -0.106                     0.527
40                        Panama         Latin America and Caribbean    41  6.180          10.350           0.896                   69.652              0.872      -0.166                     0.856
41                    Uzbekistan  Commonwealth of Independent States    42  6.179           8.836           0.918                   65.255              0.970       0.311                     0.515
42                         Chile         Latin America and Caribbean    43  6.172          10.071           0.882                   70.000              0.742      -0.044                     0.830
43                        Poland          Central and Eastern Europe    44  6.166          10.382           0.898                   69.702              0.841      -0.165                     0.735
44                    Kazakhstan  Commonwealth of Independent States    45  6.152          10.155           0.952                   65.200              0.853      -0.069                     0.733
45                       Romania          Central and Eastern Europe    46  6.140          10.284           0.832                   67.355              0.845      -0.219                     0.938
46                        Kuwait        Middle East and North Africa    47  6.106          10.817           0.843                   66.900              0.867      -0.104                     0.736
47            Republic of Serbia          Central and Eastern Europe    48  6.078           9.787           0.873                   68.600              0.778       0.002                     0.835
48                   El Salvador         Latin America and Caribbean    49  6.061           9.054           0.762                   66.402              0.888      -0.110                     0.688
49                     Mauritius                  Sub-Saharan Africa    50  6.049          10.008           0.905                   66.701              0.867      -0.054                     0.789
50                        Latvia          Central and Eastern Europe    51  6.032          10.315           0.927                   67.100              0.715      -0.162                     0.800
51                      Colombia         Latin America and Caribbean    52  6.012           9.557           0.847                   68.001              0.837      -0.135                     0.841
52                       Hungary          Central and Eastern Europe    53  5.992          10.358           0.943                   68.000              0.755      -0.186                     0.876
53                      Thailand                      Southeast Asia    54  5.985           9.805           0.888                   67.401              0.884       0.287                     0.895
54                     Nicaragua         Latin America and Caribbean    55  5.972           8.620           0.864                   67.657              0.836       0.020                     0.664
55                         Japan                           East Asia    56  5.940          10.611           0.884                   75.100              0.796      -0.258                     0.638
56                     Argentina         Latin America and Caribbean    57  5.929           9.962           0.898                   69.000              0.828      -0.182                     0.834
57                      Portugal                      Western Europe    58  5.929          10.421           0.879                   72.600              0.892      -0.244                     0.887
58                      Honduras         Latin America and Caribbean    59  5.919           8.648           0.812                   67.300              0.857       0.081                     0.809
59                       Croatia          Central and Eastern Europe    60  5.882          10.217           0.924                   70.799              0.754      -0.118                     0.939
60                   Philippines                      Southeast Asia    61  5.880           9.076           0.830                   62.000              0.917      -0.097                     0.742
61                   South Korea                           East Asia    62  5.845          10.651           0.799                   73.900              0.672      -0.083                     0.727
62                          Peru         Latin America and Caribbean    63  5.840           9.458           0.832                   68.250              0.822      -0.154                     0.891
63        Bosnia and Herzegovina          Central and Eastern Europe    64  5.813           9.590           0.870                   68.098              0.706       0.113                     0.931
64                       Moldova  Commonwealth of Independent States    65  5.766           9.454           0.857                   65.699              0.822      -0.079                     0.918
65                       Ecuador         Latin America and Caribbean    66  5.764           9.313           0.821                   68.800              0.842      -0.124                     0.843
66                    Kyrgyzstan  Commonwealth of Independent States    67  5.744           8.538           0.893                   64.401              0.935       0.119                     0.908
67                        Greece                      Western Europe    68  5.723          10.279           0.823                   72.600              0.582      -0.288                     0.823
68                       Bolivia         Latin America and Caribbean    69  5.716           9.046           0.810                   63.901              0.875      -0.077                     0.839
69                      Mongolia                           East Asia    70  5.677           9.400           0.935                   62.500              0.708       0.116                     0.856
70                      Paraguay         Latin America and Caribbean    71  5.653           9.448           0.893                   65.900              0.876       0.028                     0.882
71                    Montenegro          Central and Eastern Europe    72  5.581           9.940           0.858                   68.699              0.708      -0.034                     0.812
72            Dominican Republic         Latin America and Caribbean    73  5.545           9.802           0.853                   66.102              0.860      -0.133                     0.714
73               Northern Cyprus                      Western Europe    74  5.536          10.576           0.820                   73.898              0.795       0.012                     0.626
74                       Belarus  Commonwealth of Independent States    75  5.534           9.853           0.910                   66.253              0.650      -0.180                     0.627
75                        Russia  Commonwealth of Independent States    76  5.477          10.189           0.903                   64.703              0.718      -0.111                     0.845
76              Hong Kong S.A.R.                           East Asia    77  5.477          11.000           0.836                   76.820              0.717       0.067                     0.403
77                    Tajikistan  Commonwealth of Independent States    78  5.466           8.091           0.860                   64.281              0.832      -0.056                     0.553
78                       Vietnam                      Southeast Asia    79  5.411           8.973           0.850                   68.034              0.940      -0.098                     0.796
79                         Libya        Middle East and North Africa    80  5.410           9.622           0.827                   62.300              0.771      -0.087                     0.667
80                      Malaysia                      Southeast Asia    81  5.384          10.238           0.817                   67.102              0.895       0.125                     0.839
81                     Indonesia                      Southeast Asia    82  5.345           9.365           0.811                   62.236              0.873       0.542                     0.867
82             Republic of Congo                  Sub-Saharan Africa    83  5.342           8.117           0.636                   58.221              0.695      -0.068                     0.745
83                         China                           East Asia    84  5.339           9.673           0.811                   69.593              0.904      -0.146                     0.755
84                   Ivory Coast                  Sub-Saharan Africa    85  5.306           8.551           0.644                   50.114              0.741      -0.016                     0.794
85                       Armenia  Commonwealth of Independent States    86  5.283           9.487           0.799                   67.055              0.825      -0.168                     0.629
86                         Nepal                          South Asia    87  5.269           8.120           0.774                   64.233              0.782       0.152                     0.727
87                      Bulgaria          Central and Eastern Europe    88  5.266          10.016           0.931                   67.000              0.788      -0.096                     0.932
88                      Maldives                          South Asia    89  5.198           9.826           0.913                   70.600              0.854       0.024                     0.825
89                    Azerbaijan  Commonwealth of Independent States    90  5.171           9.569           0.836                   65.656              0.814      -0.223                     0.506
90                      Cameroon                  Sub-Saharan Africa    91  5.142           8.189           0.710                   53.515              0.731       0.026                     0.848
91                       Senegal                  Sub-Saharan Africa    92  5.132           8.118           0.710                   59.802              0.695      -0.046                     0.801
92                       Albania          Central and Eastern Europe    93  5.117           9.520           0.697                   68.999              0.785      -0.030                     0.901
93                     Macedonia          Central and Eastern Europe    94  5.101           9.693           0.805                   65.474              0.751       0.038                     0.905
94                         Ghana                  Sub-Saharan Africa    95  5.088           8.580           0.727                   57.586              0.807       0.123                     0.848
95                         Niger                  Sub-Saharan Africa    96  5.074           7.098           0.641                   53.780              0.806       0.018                     0.693
96                  Turkmenistan  Commonwealth of Independent States    97  5.066           9.629           0.983                   62.409              0.877       0.273                     0.888
97                        Gambia                  Sub-Saharan Africa    98  5.051           7.686           0.690                   55.160              0.697       0.424                     0.746
98                         Benin                  Sub-Saharan Africa    99  5.045           8.087           0.489                   54.713              0.757      -0.034                     0.661
99                          Laos                      Southeast Asia   100  5.030           8.947           0.728                   58.968              0.910       0.123                     0.658
100                   Bangladesh                          South Asia   101  5.025           8.454           0.693                   64.800              0.877      -0.041                     0.682

In [11]:
df13.iloc[8,1] = 'AUS and NZ'
df13.iloc[10,1] = 'AUS and NZ'
df13.iloc[13,1] = 'North America'
df13.iloc[18,1] = 'North America'
df13.iloc[35,1] = 'North America'
print(df13.to_string())

                         Country                              Region  Rank  Score  GDP per Capita  Social Support  Healthy Life Expectancy  Freedom of Choice  Generosity  Perception of Corruption
0                        Finland                      Western Europe     1  7.842          10.775           0.954                   72.000              0.949      -0.098                     0.186
1                        Denmark                      Western Europe     2  7.620          10.933           0.954                   72.700              0.946       0.030                     0.179
2                    Switzerland                      Western Europe     3  7.571          11.117           0.942                   74.400              0.919       0.025                     0.292
3                        Iceland                      Western Europe     4  7.554          10.878           0.983                   73.000              0.955       0.160                     0.673
4                    Netherlands                      Western Europe     5  7.464          10.932           0.942                   72.400              0.913       0.175                     0.338
5                         Norway                      Western Europe     6  7.392          11.053           0.954                   73.300              0.960       0.093                     0.270
6                         Sweden                      Western Europe     7  7.363          10.867           0.934                   72.700              0.945       0.086                     0.237
7                     Luxembourg                      Western Europe     8  7.324          11.647           0.908                   72.600              0.907      -0.034                     0.386
8                    New Zealand                          AUS and NZ     9  7.277          10.643           0.948                   73.400              0.929       0.134                     0.242
9                        Austria                      Western Europe    10  7.268          10.906           0.934                   73.300              0.908       0.042                     0.481
10                     Australia                          AUS and NZ    11  7.183          10.796           0.940                   73.900              0.914       0.159                     0.442
11                        Israel        Middle East and North Africa    12  7.157          10.575           0.939                   73.503              0.800       0.031                     0.753
12                       Germany                      Western Europe    13  7.155          10.873           0.903                   72.500              0.875       0.011                     0.460
13                        Canada                       North America    14  7.103          10.776           0.926                   73.800              0.915       0.089                     0.415
14                       Ireland                      Western Europe    15  7.085          11.342           0.947                   72.400              0.879       0.077                     0.363
15                    Costa Rica         Latin America and Caribbean    16  7.069           9.880           0.891                   71.400              0.934      -0.126                     0.809
16                United Kingdom                      Western Europe    17  7.064          10.707           0.934                   72.500              0.859       0.233                     0.459
17                Czech Republic          Central and Eastern Europe    18  6.965          10.556           0.947                   70.807              0.858      -0.208                     0.868
18      United States of America                       North America    19  6.951          11.023           0.920                   68.200              0.837       0.098                     0.698
19                       Belgium                      Western Europe    20  6.834          10.823           0.906                   72.199              0.783      -0.153                     0.646
20                        France                      Western Europe    21  6.690          10.704           0.942                   74.000              0.822      -0.147                     0.571
21                       Bahrain        Middle East and North Africa    22  6.647          10.669           0.862                   69.495              0.925       0.089                     0.722
22                         Malta                      Western Europe    23  6.602          10.674           0.931                   72.200              0.927       0.133                     0.653
23                        Taiwan                           East Asia    24  6.584          10.871           0.898                   69.600              0.784      -0.070                     0.721
24          United Arab Emirates        Middle East and North Africa    25  6.561          11.085           0.844                   67.333              0.932       0.074                     0.589
25                  Saudi Arabia        Middle East and North Africa    26  6.494          10.743           0.891                   66.603              0.877      -0.149                     0.684
26                         Spain                      Western Europe    27  6.491          10.571           0.932                   74.700              0.761      -0.081                     0.745
27                         Italy                      Western Europe    28  6.483          10.623           0.880                   73.800              0.693      -0.084                     0.866
28                      Slovenia          Central and Eastern Europe    29  6.461          10.529           0.948                   71.400              0.949      -0.101                     0.806
29                     Guatemala         Latin America and Caribbean    30  6.435           9.053           0.813                   64.958              0.906      -0.038                     0.775
30                       Uruguay         Latin America and Caribbean    31  6.431           9.966           0.925                   69.100              0.896      -0.092                     0.590
31                     Singapore                      Southeast Asia    32  6.377          11.488           0.915                   76.953              0.927      -0.018                     0.082
32                        Kosovo          Central and Eastern Europe    33  6.372           9.318           0.821                   63.813              0.869       0.257                     0.917
33                      Slovakia          Central and Eastern Europe    34  6.331          10.369           0.936                   69.201              0.766      -0.124                     0.911
34                        Brazil         Latin America and Caribbean    35  6.330           9.577           0.882                   66.601              0.804      -0.071                     0.756
35                        Mexico                       North America    36  6.317           9.859           0.831                   68.597              0.862      -0.147                     0.799
36                       Jamaica         Latin America and Caribbean    37  6.309           9.186           0.877                   67.500              0.890      -0.137                     0.884
37                     Lithuania          Central and Eastern Europe    38  6.255          10.499           0.935                   67.906              0.773      -0.203                     0.826
38                        Cyprus                      Western Europe    39  6.223          10.576           0.802                   73.898              0.763      -0.015                     0.844
39                       Estonia          Central and Eastern Europe    40  6.189          10.481           0.941                   68.800              0.909      -0.106                     0.527
40                        Panama         Latin America and Caribbean    41  6.180          10.350           0.896                   69.652              0.872      -0.166                     0.856
41                    Uzbekistan  Commonwealth of Independent States    42  6.179           8.836           0.918                   65.255              0.970       0.311                     0.515
42                         Chile         Latin America and Caribbean    43  6.172          10.071           0.882                   70.000              0.742      -0.044                     0.830
43                        Poland          Central and Eastern Europe    44  6.166          10.382           0.898                   69.702              0.841      -0.165                     0.735
44                    Kazakhstan  Commonwealth of Independent States    45  6.152          10.155           0.952                   65.200              0.853      -0.069                     0.733
45                       Romania          Central and Eastern Europe    46  6.140          10.284           0.832                   67.355              0.845      -0.219                     0.938
46                        Kuwait        Middle East and North Africa    47  6.106          10.817           0.843                   66.900              0.867      -0.104                     0.736
47            Republic of Serbia          Central and Eastern Europe    48  6.078           9.787           0.873                   68.600              0.778       0.002                     0.835
48                   El Salvador         Latin America and Caribbean    49  6.061           9.054           0.762                   66.402              0.888      -0.110                     0.688
49                     Mauritius                  Sub-Saharan Africa    50  6.049          10.008           0.905                   66.701              0.867      -0.054                     0.789
50                        Latvia          Central and Eastern Europe    51  6.032          10.315           0.927                   67.100              0.715      -0.162                     0.800
51                      Colombia         Latin America and Caribbean    52  6.012           9.557           0.847                   68.001              0.837      -0.135                     0.841
52                       Hungary          Central and Eastern Europe    53  5.992          10.358           0.943                   68.000              0.755      -0.186                     0.876
53                      Thailand                      Southeast Asia    54  5.985           9.805           0.888                   67.401              0.884       0.287                     0.895
54                     Nicaragua         Latin America and Caribbean    55  5.972           8.620           0.864                   67.657              0.836       0.020                     0.664
55                         Japan                           East Asia    56  5.940          10.611           0.884                   75.100              0.796      -0.258                     0.638
56                     Argentina         Latin America and Caribbean    57  5.929           9.962           0.898                   69.000              0.828      -0.182                     0.834
57                      Portugal                      Western Europe    58  5.929          10.421           0.879                   72.600              0.892      -0.244                     0.887
58                      Honduras         Latin America and Caribbean    59  5.919           8.648           0.812                   67.300              0.857       0.081                     0.809
59                       Croatia          Central and Eastern Europe    60  5.882          10.217           0.924                   70.799              0.754      -0.118                     0.939
60                   Philippines                      Southeast Asia    61  5.880           9.076           0.830                   62.000              0.917      -0.097                     0.742
61                   South Korea                           East Asia    62  5.845          10.651           0.799                   73.900              0.672      -0.083                     0.727
62                          Peru         Latin America and Caribbean    63  5.840           9.458           0.832                   68.250              0.822      -0.154                     0.891
63        Bosnia and Herzegovina          Central and Eastern Europe    64  5.813           9.590           0.870                   68.098              0.706       0.113                     0.931
64                       Moldova  Commonwealth of Independent States    65  5.766           9.454           0.857                   65.699              0.822      -0.079                     0.918
65                       Ecuador         Latin America and Caribbean    66  5.764           9.313           0.821                   68.800              0.842      -0.124                     0.843
66                    Kyrgyzstan  Commonwealth of Independent States    67  5.744           8.538           0.893                   64.401              0.935       0.119                     0.908
67                        Greece                      Western Europe    68  5.723          10.279           0.823                   72.600              0.582      -0.288                     0.823
68                       Bolivia         Latin America and Caribbean    69  5.716           9.046           0.810                   63.901              0.875      -0.077                     0.839
69                      Mongolia                           East Asia    70  5.677           9.400           0.935                   62.500              0.708       0.116                     0.856
70                      Paraguay         Latin America and Caribbean    71  5.653           9.448           0.893                   65.900              0.876       0.028                     0.882
71                    Montenegro          Central and Eastern Europe    72  5.581           9.940           0.858                   68.699              0.708      -0.034                     0.812
72            Dominican Republic         Latin America and Caribbean    73  5.545           9.802           0.853                   66.102              0.860      -0.133                     0.714
73               Northern Cyprus                      Western Europe    74  5.536          10.576           0.820                   73.898              0.795       0.012                     0.626
74                       Belarus  Commonwealth of Independent States    75  5.534           9.853           0.910                   66.253              0.650      -0.180                     0.627
75                        Russia  Commonwealth of Independent States    76  5.477          10.189           0.903                   64.703              0.718      -0.111                     0.845
76              Hong Kong S.A.R.                           East Asia    77  5.477          11.000           0.836                   76.820              0.717       0.067                     0.403
77                    Tajikistan  Commonwealth of Independent States    78  5.466           8.091           0.860                   64.281              0.832      -0.056                     0.553
78                       Vietnam                      Southeast Asia    79  5.411           8.973           0.850                   68.034              0.940      -0.098                     0.796
79                         Libya        Middle East and North Africa    80  5.410           9.622           0.827                   62.300              0.771      -0.087                     0.667
80                      Malaysia                      Southeast Asia    81  5.384          10.238           0.817                   67.102              0.895       0.125                     0.839
81                     Indonesia                      Southeast Asia    82  5.345           9.365           0.811                   62.236              0.873       0.542                     0.867
82             Republic of Congo                  Sub-Saharan Africa    83  5.342           8.117           0.636                   58.221              0.695      -0.068                     0.745
83                         China                           East Asia    84  5.339           9.673           0.811                   69.593              0.904      -0.146                     0.755
84                   Ivory Coast                  Sub-Saharan Africa    85  5.306           8.551           0.644                   50.114              0.741      -0.016                     0.794
85                       Armenia  Commonwealth of Independent States    86  5.283           9.487           0.799                   67.055              0.825      -0.168                     0.629
86                         Nepal                          South Asia    87  5.269           8.120           0.774                   64.233              0.782       0.152                     0.727
87                      Bulgaria          Central and Eastern Europe    88  5.266          10.016           0.931                   67.000              0.788      -0.096                     0.932
88                      Maldives                          South Asia    89  5.198           9.826           0.913                   70.600              0.854       0.024                     0.825
89                    Azerbaijan  Commonwealth of Independent States    90  5.171           9.569           0.836                   65.656              0.814      -0.223                     0.506
90                      Cameroon                  Sub-Saharan Africa    91  5.142           8.189           0.710                   53.515              0.731       0.026                     0.848
91                       Senegal                  Sub-Saharan Africa    92  5.132           8.118           0.710                   59.802              0.695      -0.046                     0.801
92                       Albania          Central and Eastern Europe    93  5.117           9.520           0.697                   68.999              0.785      -0.030                     0.901
93                     Macedonia          Central and Eastern Europe    94  5.101           9.693           0.805                   65.474              0.751       0.038                     0.905
94                         Ghana                  Sub-Saharan Africa    95  5.088           8.580           0.727                   57.586              0.807       0.123                     0.848
95                         Niger                  Sub-Saharan Africa    96  5.074           7.098           0.641                   53.780              0.806       0.018                     0.693
96                  Turkmenistan  Commonwealth of Independent States    97  5.066           9.629           0.983                   62.409              0.877       0.273                     0.888
97                        Gambia                  Sub-Saharan Africa    98  5.051           7.686           0.690                   55.160              0.697       0.424                     0.746
98                         Benin                  Sub-Saharan Africa    99  5.045           8.087           0.489                   54.713              0.757      -0.034                     0.661
99                          Laos                      Southeast Asia   100  5.030           8.947           0.728                   58.968              0.910       0.123                     0.658
100                   Bangladesh                          South Asia   101  5.025           8.454           0.693                   64.800              0.877      -0.041                     0.682

In [12]:
#Loaded data as json
url = 'https://raw.githubusercontent.com/datasets/geo-countries/master/data/countries.geojson'
resp = requests.get(url)
data = json.loads(resp.text)
#print(data['features'][0])

#Created lists to recreated database to convert geometry entries to objects
countries = []
iso_a3 = []
iso_a2 = []
geometry = []

for row in data["features"]:
    countries.append(row["properties"]["ADMIN"])
    iso_a3.append(row["properties"]["ISO_A3"])
    iso_a2.append(row["properties"]["ISO_A2"])
    geometry.append(row["geometry"])

geodata = pd.DataFrame({
    "ADMIN": countries,
    "ISO_A3": iso_a3,
    "ISO_A2": iso_a2,
    "geometry": geometry
})

geodata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ADMIN     255 non-null    object
 1   ISO_A3    255 non-null    object
 2   ISO_A2    255 non-null    object
 3   geometry  255 non-null    object
dtypes: object(4)
memory usage: 8.1+ KB

In [13]:
# Renamed Various Columns for Conciseness
geodata1 = geodata.rename(columns={
                        "ADMIN": "Country", 
                        "geometry": "Geometry", 
                        }
                        )
geodata1.head()

,Country,ISO_A3,ISO_A2,Geometry
0,Aruba,ABW,AW,"{'type': 'MultiPolygon', 'coordinates': [[[[-6..."
1,Afghanistan,AFG,AF,"{'type': 'MultiPolygon', 'coordinates': [[[[71..."
2,Angola,AGO,AO,"{'type': 'MultiPolygon', 'coordinates': [[[[11..."
3,Anguilla,AIA,AI,"{'type': 'MultiPolygon', 'coordinates': [[[[-6..."
4,Albania,ALB,AL,"{'type': 'MultiPolygon', 'coordinates': [[[[19..."

In [14]:
for country in geodata1["Country"]:
    print(country)

Aruba
Afghanistan
Angola
Anguilla
Albania
Aland
Andorra
United Arab Emirates
Argentina
Armenia
American Samoa
Antarctica
Ashmore and Cartier Islands
French Southern and Antarctic Lands
Antigua and Barbuda
Australia
Austria
Azerbaijan
Burundi
Belgium
Benin
Burkina Faso
Bangladesh
Bulgaria
Bahrain
The Bahamas
Bosnia and Herzegovina
Bajo Nuevo Bank (Petrel Is.)
Saint Barthelemy
Belarus
Belize
Bermuda
Bolivia
Brazil
Barbados
Brunei
Bhutan
Botswana
Central African Republic
Canada
Switzerland
Chile
China
Ivory Coast
Clipperton Island
Cameroon
Cyprus No Mans Area
Democratic Republic of the Congo
Republic of Congo
Cook Islands
Colombia
Comoros
Cape Verde
Costa Rica
Coral Sea Islands
Cuba
Curaçao
Cayman Islands
Northern Cyprus
Cyprus
Czech Republic
Germany
Djibouti
Dominica
Denmark
Dominican Republic
Algeria
Ecuador
Egypt
Eritrea
Dhekelia Sovereign Base Area
Spain
Estonia
Ethiopia
Finland
Fiji
Falkland Islands
France
Faroe Islands
Federated States of Micronesia
Gabon
United Kingdom
Georgia
Guernsey
Ghana
Gibraltar
Guinea
Gambia
Guinea Bissau
Equatorial Guinea
Greece
Grenada
Greenland
Guatemala
Guam
Guyana
Hong Kong S.A.R.
Heard Island and McDonald Islands
Honduras
Croatia
Haiti
Hungary
Indonesia
Isle of Man
India
Indian Ocean Territories
British Indian Ocean Territory
Ireland
Iran
Iraq
Iceland
Israel
Italy
Jamaica
Jersey
Jordan
Japan
Baykonur Cosmodrome
Siachen Glacier
Kazakhstan
Kenya
Kyrgyzstan
Cambodia
Kiribati
Saint Kitts and Nevis
South Korea
Kosovo
Kuwait
Laos
Lebanon
Liberia
Libya
Saint Lucia
Liechtenstein
Sri Lanka
Lesotho
Lithuania
Luxembourg
Latvia
Macao S.A.R
Saint Martin
Morocco
Monaco
Moldova
Madagascar
Maldives
Mexico
Marshall Islands
Macedonia
Mali
Malta
Myanmar
Montenegro
Mongolia
Northern Mariana Islands
Mozambique
Mauritania
Montserrat
Mauritius
Malawi
Malaysia
Namibia
New Caledonia
Niger
Norfolk Island
Nigeria
Nicaragua
Niue
Netherlands
Norway
Nepal
Nauru
New Zealand
Oman
Pakistan
Panama
Pitcairn Islands
Peru
Spratly Islands
Philippines
Palau
Papua New Guinea
Poland
Puerto Rico
North Korea
Portugal
Paraguay
Palestine
French Polynesia
Qatar
Romania
Russia
Rwanda
Western Sahara
Saudi Arabia
Scarborough Reef
Sudan
South Sudan
Senegal
Serranilla Bank
Singapore
South Georgia and South Sandwich Islands
Saint Helena
Solomon Islands
Sierra Leone
El Salvador
San Marino
Somaliland
Somalia
Saint Pierre and Miquelon
Republic of Serbia
Sao Tome and Principe
Suriname
Slovakia
Slovenia
Sweden
Swaziland
Sint Maarten
Seychelles
Syria
Turks and Caicos Islands
Chad
Togo
Thailand
Tajikistan
Turkmenistan
East Timor
Tonga
Trinidad and Tobago
Tunisia
Turkey
Tuvalu
Taiwan
United Republic of Tanzania
Uganda
Ukraine
United States Minor Outlying Islands
Uruguay
United States of America
US Naval Base Guantanamo Bay
Uzbekistan
Vatican
Saint Vincent and the Grenadines
Venezuela
British Virgin Islands
United States Virgin Islands
Vietnam
Vanuatu
Wallis and Futuna
Akrotiri Sovereign Base Area
Samoa
Yemen
South Africa
Zambia
Zimbabwe

In [15]:
# Merged world happiness dataset and geojson dataset
world_happiness_df = df13.merge(geodata1, on='Country', how='outer')
world_happiness_df.head()

,Country,Region,Rank,Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom of Choice,Generosity,Perception of Corruption,ISO_A3,ISO_A2,Geometry
0,Finland,Western Europe,1.0,7.842,10.775,0.954,72.0,0.949,-0.098,0.186,FIN,FI,"{'type': 'MultiPolygon', 'coordinates': [[[[22..."
1,Denmark,Western Europe,2.0,7.620,10.933,0.954,72.7,0.946,0.030,0.179,DNK,DK,"{'type': 'MultiPolygon', 'coordinates': [[[[11..."
2,Switzerland,Western Europe,3.0,7.571,11.117,0.942,74.4,0.919,0.025,0.292,CHE,CH,"{'type': 'MultiPolygon', 'coordinates': [[[[8...."
3,Iceland,Western Europe,4.0,7.554,10.878,0.983,73.0,0.955,0.160,0.673,ISL,IS,"{'type': 'MultiPolygon', 'coordinates': [[[[-2..."
4,Netherlands,Western Europe,5.0,7.464,10.932,0.942,72.4,0.913,0.175,0.338,NLD,NL,"{'type': 'MultiPolygon', 'coordinates': [[[[-6..."

In [16]:
#Determined entries
world_happiness_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 255 entries, 0 to 254
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   255 non-null    object
 1   Region                    149 non-null    object
 2   Rank                      149 non-null    float64
 3   Score                     149 non-null    float64
 4   GDP per Capita            149 non-null    float64
 5   Social Support            149 non-null    float64
 6   Healthy Life Expectancy   149 non-null    float64
 7   Freedom of Choice         149 non-null    float64
 8   Generosity                149 non-null    float64
 9   Perception of Corruption  149 non-null    float64
 10  ISO_A3                    255 non-null    object
 11  ISO_A2                    255 non-null    object
 12  Geometry                  255 non-null    object
dtypes: float64(8), object(5)
memory usage: 27.9+ KB

In [17]:
world_happiness_df.isna()

,Country,Region,Rank,Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom of Choice,Generosity,Perception of Corruption,ISO_A3,ISO_A2,Geometry
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,False,True,True,True,True,True,True,True,True,True,False,False,False
251,False,True,True,True,True,True,True,True,True,True,False,False,False
252,False,True,True,True,True,True,True,True,True,True,False,False,False
253,False,True,True,True,True,True,True,True,True,True,False,False,False
254,False,True,True,True,True,True,True,True,True,True,False,False,False

In [18]:
world_happiness_df['Rank'] = world_happiness_df['Rank'].fillna(0)
world_happiness_df['Score'] = world_happiness_df['Score'].fillna(0)
world_happiness_df['GDP per Capita'] = world_happiness_df['GDP per Capita'].fillna(0)
world_happiness_df['Social Support'] = world_happiness_df['Social Support'].fillna(0)
world_happiness_df['Healthy Life Expectancy'] = world_happiness_df['Healthy Life Expectancy'].fillna(0)
world_happiness_df['Freedom of Choice'] = world_happiness_df['Freedom of Choice'].fillna(0)
world_happiness_df['Generosity'] = world_happiness_df['Generosity'].fillna(0)
world_happiness_df['Perception of Corruption'] = world_happiness_df['Perception of Corruption'].fillna(0)
world_happiness_df.isna()

,Country,Region,Rank,Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom of Choice,Generosity,Perception of Corruption,ISO_A3,ISO_A2,Geometry
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,False,True,False,False,False,False,False,False,False,False,False,False,False
251,False,True,False,False,False,False,False,False,False,False,False,False,False
252,False,True,False,False,False,False,False,False,False,False,False,False,False
253,False,True,False,False,False,False,False,False,False,False,False,False,False
254,False,True,False,False,False,False,False,False,False,False,False,False,False

## Imported Data Frame into MongoDB

In [19]:
#Created MongoDB server and database
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
world_happiness_db = myclient["world_happiness"]

In [20]:
#Created collection within database
world_happiness_col = world_happiness_db["world_happiness_data"]

In [21]:
#Inserted dataframe into collection
world_happiness_df.set_index("Country")
data_dict = world_happiness_df.to_dict("records")
data_dict
world_happiness_col.insert_many(data_dict)